Epi.Web/Service References/ActionServiceClient/SurveyManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SurveyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntroductionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSingleResponse" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateXML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyRequest" nillable="true" type="tns:SurveyRequest" />
</xs:schema>