Epi.Web/Service References/ActionServiceClient/SurveyManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SurveyRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPulished" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyRequestResponse" nillable="true" type="tns:SurveyRequestResponse" />
  <xs:complexType name="SurveyInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntroductionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyInfoDTO" nillable="true" type="tns:SurveyInfoDTO" />
</xs:schema>