Epi.Web.SurveyManager_Test/Service References/SurveyManagerService/SurveyManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22587/Epi.Web.ServiceHost/SurveyManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.SurveyManager" />
  <xs:element name="PublishSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Epi.Web.SurveyManager" minOccurs="0" name="pRequestMessage" nillable="true" type="q1:cSurveyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Epi.Web.SurveyManager" minOccurs="0" name="PublishSurveyResult" nillable="true" type="q2:cSurveyRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>