Epi.Web/Service References/DataServiceClient/SurveyDataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22587/Epi.Web.ServiceHost/SurveyDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:22587/Epi.Web.ServiceHost/SurveyDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AdminDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminId" type="ser:guid" />
      <xs:element minOccurs="0" name="AdressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notify" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminDTO" nillable="true" type="tns:AdminDTO" />
  <xs:complexType name="OrganizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationDTO" nillable="true" type="tns:OrganizationDTO" />
  <xs:complexType name="ArrayOfStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateDTO" nillable="true" type="tns:StateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateDTO" nillable="true" type="tns:ArrayOfStateDTO" />
  <xs:complexType name="StateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateDTO" nillable="true" type="tns:StateDTO" />
  <xs:complexType name="ArrayOfSurveyControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyControlDTO" nillable="true" type="tns:SurveyControlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyControlDTO" nillable="true" type="tns:ArrayOfSurveyControlDTO" />
  <xs:complexType name="SurveyControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlPrompt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceTableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyControlDTO" nillable="true" type="tns:SurveyControlDTO" />
  <xs:complexType name="ReportInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gadgets" nillable="true" type="tns:ArrayOfGadgetDTO" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportVersion" type="xs:int" />
      <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportInfoDTO" nillable="true" type="tns:ReportInfoDTO" />
  <xs:complexType name="ArrayOfGadgetDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GadgetDTO" nillable="true" type="tns:GadgetDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGadgetDTO" nillable="true" type="tns:ArrayOfGadgetDTO" />
  <xs:complexType name="GadgetDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EditedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GadgetHtml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GadgetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GadgetNumber" type="xs:int" />
      <xs:element minOccurs="0" name="GadgetURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GadgetVersion" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GadgetsScript" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GadgetDTO" nillable="true" type="tns:GadgetDTO" />
  <xs:complexType name="ArrayOfReportInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportInfoDTO" nillable="true" type="tns:ReportInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportInfoDTO" nillable="true" type="tns:ArrayOfReportInfoDTO" />
</xs:schema>